@using UmbracoForms.uCaptcha
@model Umbraco.Forms.Mvc.Models.FieldViewModel
@{
    var siteKey = AppSettingsManager.GethCaptchaSiteKey();
    var theme = "light";
    var themeSetting = Model.AdditionalSettings.FirstOrDefault(x => x.Key == "Theme");
    if (themeSetting.Value != "")
    {
        theme = themeSetting.Value;
    }
    var size = "normal";
    var sizeSetting = Model.AdditionalSettings.FirstOrDefault(x => x.Key == "Size");
    if (sizeSetting.Value != "")
    {
        size = sizeSetting.Value;
    }

    if (!string.IsNullOrEmpty(siteKey))
    {
        <div id="hCaptcha" class="h-captcha" data-sitekey="@siteKey" data-theme="@theme" data-size="@size" data-callback="onSubmit"></div>
        <input type="hidden" name="@Model.Name" value="false" class="h-captcha-bool"/>
    }
    else
    {
        <p class="error">ERROR: hCaptcha is missing the Site Key - Please update the web.config to include 'key="hCaptchaSiteKey"'</p>
    }
}